
.site-structure {
    max-width: 1920;
    min-height: 1080px;
    width: 100%;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dancing Script";
}
.form-base-layer {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    min-height: 400px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
    padding: 65px;
    border-radius: 40px;
}
#grad {
    background-image: linear-gradient(to bottom right, #fffeea, pink );
}
.site-header {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 45px;
}
.content-structure {
    display:flex;
    flex-wrap:nowrap;
    width: 900px;
    justify-content: space-evenly;
}
.content-box {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.images {
    object-fit: cover;
    max-width: fit-content;
    border-radius: 50%;
    margin-bottom: 30px;
    border: solid darkmagenta 5px;
}
.content-header {
    font-size: 32px;
}
.content-text {
    font-size: 24px;
    font-weight: bolder;
    line-height: 150%;
}
.btn-area {
    width: 900px;
    display: flex;
    justify-content: flex-end;
} 
.btn {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    min-height: 70px;
    padding: 20px;
    align-items: center;
    border:none;
    border-radius: 8px;
    margin-top: 25px;
    background-color: blueviolet;
    color: cornsilk;
    font-size: 32px;
}
@keyframes btnzoom {
    from {transform: scale(1);}
    to {transform: scale(1.3);}
}
.btn:hover {
    cursor: pointer;
    background-color: darkmagenta;
    transition: all 0.7s ease-in-out;
    animation: btnzoom 0.5s ease-out;
    animation-fill-mode: forwards;
}
.lists {
    padding-inline-start: 0px;
    list-style: none;
    text-align: center;
}