
.site-structure {
    max-width: 1920;
    min-height: 1080px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Amplitude Aubi", Sans-serif;
}
.form-base-layer {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    min-height: 400px;
    background-color:#EFEFEF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
    padding: 65px;
    border-radius: 8px;
}
.content-structure {
        display:flex;
        flex-wrap:nowrap;
        width: 900px;
        justify-content: space-evenly;
}
.content-box {
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
}

.images {
    object-fit: cover;
    max-width: fit-content;
    border-radius: 50%;
} 
.btn {
    display: flex;
    justify-items: flex-end;

}

.btn:hover {
    cursor: pointer;
}